<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${condition}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{titleAndContent}" class="form-control" placeholder="제목, 내용"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">글 검색</button>
            </div>
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/boards/write}'|"
                        type="button">글 등록
                </button>
            </div>
        </div>
    </form>
    <div>
        <table class="table">
            <tr>
                <th>글 제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
            </tr>
            <tr th:each="board: ${boards}">
                <td>
                    <a th:text="${board.title}" th:href="@{/boards/{id}(id=${board.id})}"></a>
                </td>
                <td th:text="${board.getMember().loginId}"></td>
                <td th:text="${board.createdDate.toLocalDate()}"></td>
            </tr>
        </table>

        <nav style="text-align: center;">
            <ul class="pagination">
                <li>
                    <a th:href="@{/boards(page=1)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>

                <li th:class="${startPage} ? 'disabled'">
                    <a th:href="${startPage} ? '#' :@{/boards(page=${page - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <a th:text="${page}" th:href="@{/boards(page=${page})}"></a>
                </li>

                <li th:class="${endPage} ? 'disabled'">
                    <a th:href="${endPage} ? '#' : @{/boards(page=${page + 1})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/boards(page=${endPage})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>