<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>500 오류!!</h2>
    </div>
    <div>
        <p>오류가 발생했어요ㅜㅜ</p>
    </div>

    <ul>
        <li>오류 정보</li>
        <ul>
            <li th:text="|발생 시간: ${timestamp}|"></li>
            <li th:text="|오류 상태: ${status}|"></li>
            <li th:text="|오류 원인: ${message}|"></li>
        </ul>
        </li>
    </ul>

    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>